<h1>Movie #<%=@id%> details</h1>

<a href="/movies">Go back</a>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%=@detail.title%>
  </dd>

  <dt>
    Year
  </dt>
  <dd>
    <%=@detail.year%>
  </dd>

  <dt>
    Duration
  </dt>
  <dd>
    <%=@detail.duration%>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%=@detail.description%>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%=@detail.image%>" style="width:250px;">
  </dd>

  <dt>
    Director
  </dt>
  <dd>
      <%= Director.where({:id=>@detail.director_id}).first.name %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%=@detail.created_at%>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%=@detail.updated_at%>
  </dd>
</dl>

<hr>
