<h1>List of all directors</h1>

<table border="1">
<% Director.all.each do |director_output| %>
  <tr>>
    <td><%= director_output.id %></td>
    <td>
      <img src= "http://robohash.org/<%= director_output.image %>">
    </td>
    <td><%= director_output.name %></td>
    <td><%= director_output.dob %></td>
    <td>
      <a href="/directors/<%= director_output.id %>">
        Show details
    </td>
  </tr>
  <% end %>
  </table>
